.App {
  text-align: center;
}



.tweet-box {
  position: fixed;       
  top: 50px;            
  left: 50px;            
  width: 500px;      
  height: 650px;        
  overflow-y: scroll;    
  border: 2px solid #ddd; 
  border-radius: 8px;   
  padding: 10px;         
  background-color: white;
  z-index: 1000;         
}


.tweet-box iframe {
  width: 100% !important;  
  height: auto !important; 
  margin-bottom: 10px;   
}

