<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto : Main Page </title>
    <link rel="stylesheet" href="../styling/styles.css">
    <link href="../logo.jpg" rel="icon" type="image/jpg" style="border-radius: 50%;">
</head>
<body>
    <div class="dashboard-container">
        <header class="dashboard-header">
            <div style="display: flex; align-items: center;">
                <img src="../logo.jpg" width="60px;" height="60px" style="border-radius: 30px;">
                <h1 style="margin-left: 20px;">Crypto</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/models">My Models</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main class="dashboard-content">
            
        </main>
        <footer class="dashboard-footer">
            <p>&copy; 2025 Crypto. All rights reserved.</p>
        </footer>
    </div>
    <script>
        const userName = '<%= userName %>';
        document.getElementById('welcome-message').innerText = `Welcome, ${userName}!`;
    </script>
</body>
</html>
