* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* font-family: 'Matrix Code NFI', 'Courier New', monospace; */
    /* background-color: #000; */
    /* color: #00ff00; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

.dashboard-header {
    /* background: rgba(0, 0, 0, 0.9); */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    position: relative;
    z-index: 2;
    /* box-shadow: 0 0 20px rgba(0, 255, 0, 0.2); */
}

.dashboard-header h1 {
    font-size: 24px;
    /* color: #00ff00; */
    /* text-shadow: 0 0 10px rgba(0, 255, 0, 0.5); */
    letter-spacing: 2px;
}

.dashboard-header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.dashboard-header nav ul li a {
    text-decoration: none;
    /* color: #00ff00; */
    font-size: 18px;
    margin-right: 25px;
    transition: all 0.3s;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
}

.dashboard-header nav ul li a:hover {
    color: #fff;
    /* text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; */
}

.dashboard-content {
    padding: 20px;
    flex: 1;
    /* background-color: rgba(0, 0, 0, 0.9); */
    position: relative;
    z-index: 2;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears in front of everything */
}

/* Hidden class to toggle visibility */
.hidden {
    display: none;
}

.popup-content {
    background: #666666;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 80px;
}

.popup-content button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.popup-content button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
}

.popup-content button {
    border-radius: 5px;
    
}

#closePopup:hover {
    background-color: #980e04;
}

#submitPopup:hover {
    background-color: #09860d;
}

.popup-content input {
    background-color: #f0f8ff; /* Light blue background */
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}

.popup-content input:focus {
    background-color: #e6f7ff; /* Change color when focused */
    border-color: #007BFF; /* Highlight border */
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.model-details {
    max-width: 75%;
}

#logoutButton {
    padding: 10px 20px;
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

#logoutButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
}
    